import * as React from 'react';
import {Div, Text} from '~/presentation/components/atoms';
import { I{{pascalCase name}} } from './{{pascalCase name}}.types'

export const {{pascalCase name}} = (props: I{{pascalCase name}}.IView) => (
    <Div className="flex-1" testID={`{{pascalCase name}}`}>
        <Text.GilroyRegular>{`{{pascalCase name}}`}</Text.GilroyRegular>
    </Div>
)
